USE [master]
GO
/****** Object:  Database [Users]    Script Date: 26-08-2018 16:15:49 ******/
CREATE DATABASE [Users]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Users', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Users.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Users_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Users_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Users].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Users]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 26-08-2018 16:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Forename] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Date of Birth] [datetime] NULL,
	[Gender] [varchar](10) NULL,
	[Home Number] [varchar](20) NULL,
	[Work Number] [varchar](20) NULL,
	[Mobile Number] [varchar](20) NULL,
 CONSTRAINT [PK_Details] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

GO
INSERT [dbo].[UserDetails] ([ID], [Forename], [Surname], [Date of Birth], [Gender], [Home Number], [Work Number], [Mobile Number]) VALUES (1, N'Ankur', N'Bhatnagar', CAST(0x00007BAE00000000 AS DateTime), N'Male', N'8904167251', N'893012547', N'8904167251')
GO
INSERT [dbo].[UserDetails] ([ID], [Forename], [Surname], [Date of Birth], [Gender], [Home Number], [Work Number], [Mobile Number]) VALUES (2, N'Test1', N'Test2', CAST(0x000075F900000000 AS DateTime), N'Male', N'7894561230', N'8974561200', N'8899662211')
GO
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
USE [master]
GO
